body {
  background: linear-gradient(0.25turn, #3f87a6, #8085d1);
}
.goal_button {
  border-radius: 7px;
  background-color: aquamarine;
}
.selectedGoal {
  /*visibility: hidden;*/
  font-size: 200%;
}
.moto_text {
  /*visibility: hidden;*/
  font-size: 120%;
}

.divBorders {
  border: rgba(87, 15, 15, 0.301) 3px solid;
}
.addedGoal {
  border: black 1px solid;
  border-radius: 25px;
  padding-left: 125px;
  background-color: rgba(182, 155, 155, 0.513);
}
