body {
  background: linear-gradient(0.25turn, #3f87a6, #1f235a);
}
.goal_button {
  border-radius: 7px;
  height: 30px;
  background-color: aquamarine;
}
.selectedGoal {
  /*visibility: hidden;*/
  font-size: 200%;

}
.moto_text {
  /*visibility: hidden;*/
  font-size: 120%;
  display: block;
  position: relative;
  left: 50px;

}
